<h1>Editing Continents Population</h1>

<%= render 'form', continents_population: @continents_population %>

<%= link_to 'Show', @continents_population %> |
<%= link_to 'Back', continents_populations_path %>
